* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --accent: #f5b93a;
    --accent-darker: #f5b93a;
    --light-fore: #ffffff;
    --dark-fore: #484848;

    color: var(--dark-fore);
}

html, body {
    height: 100%;
}

p { font-weight: 300; }
h1, h2 { font-weight: 500; }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00000011;
}
::-webkit-scrollbar-thumb {
    background: var(--accent);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-darker);
}


/**
 * Components
 * ===================================
 */
.title {
    font-size: 48px;
    font-weight: 500;

    color: var(--accent);
}

button {
    background: none;
    border: none;
    border-radius: 30px;

    font-size: 16px;
    font-weight: 300;
    padding: 12px 15px;

    outline: none;
    cursor: pointer;
}

button.solid {
    font-weight: 500;
    background-color: var(--accent);
    color: var(--light-fore);
    padding: 12px 20px;
}

button.solid:hover {
    background-color: var(--accent-darker);
}

/**
 * Classes
 * ===================================
 */
.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.space-between { justify-content: space-between; }
.center-items { align-items: center; }
.pixelated { image-rendering: pixelated; }
.pad { padding: 4vh 6vw; }
.ghost { opacity: 0.2; }
.big-emoji { width: 15vw; }
.extra-big-emoji { width: 25vw; }
.w-min-content { width: min-content; }
.text-center { text-align: center; }
.absolute { position: absolute; }
.mh-view { height: 100vh; }


/**
 * Header
 * ===================================
 */
header {
    font-family: 'Rubik', sans-serif;
}

header button {
    margin: 0 10px;
}



/**
 * Main
 * ===================================
 */
main > div, .margin > * {
    margin: 20px;
}



/**
 * Features Section
 * ===================================
 */
.features .container {
    width: 60%;
    margin: 40px auto;
    flex-wrap: wrap;
}

.feature {
    flex-basis: calc(50% - 40px);
    margin: 40px 20px;
}

.feature .heading {
    color: var(--accent-darker);
    font-weight: 500;
    margin-bottom: 8px;
}

.feature img {
    margin-right: 20px;

    width: 100px;
}



/**
 * Editor Section
 * ===================================
 */
.editor button {
    margin: 0 10px;
}

.editor .file-input {

    margin: 30px auto;
    width: max-content;
    padding: 50px 100px;

    border-radius: 20px;
    background-color: var(--accent);
    color: white;
    opacity: 0.6;

    cursor: pointer;
}

.editor .file-input.is-dragover, .editor .file-input:hover {
    opacity: 0.75;
}

.editor .controls {
    width: max-content;
    margin: 30px auto;
}

.editor .container {
    margin: 20px auto;
    flex-wrap: wrap;
}

.editor .emoji {
    display: flex;
    flex-basis: calc(33% - 20px);
    margin: 10px;
    padding: 20px;
    align-items: center;

    border-radius: 20px;
    background-color: var(--accent);
    filter: drop-shadow(0 0 10px #00000022);
}

.editor .emoji img {
    image-rendering: pixelated;
    width: 40%;
    max-width: 120px;
    margin-right: 20px;
}

.editor .emoji label {
    display: flex;
    font-weight: 300;
    font-size: 16px;
    margin: 10px 0;

    text-transform: capitalize;
    color: var(--light-fore);
}

.editor .emoji input {
    flex: 1;
    width: 100%;
    margin: 0 5px;
    padding: 0 5px;

    font-weight: 300;
    font-size: 16px;

    color: var(--light-fore);
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #FFFFFF99;
}

.editor .emoji input.error {
    color: rgba(255, 100, 100, .8);
}



/**
 * Downloads Section
 * ===================================
 */
.downloads .container {
    margin: 20px;
}

.releases, .commits {
    width: 50%;
    padding: 20px;
}

.release {
    border-radius: 20px;
    padding: 20px;

    background-color: var(--accent);
    color: var(--light-fore);
    filter: drop-shadow(0 0 10px #00000022);

    cursor: pointer;
}

.commit, .commit a {
    font-family: monospace;
    font-size: 16px;
}

.commit {
    display: block;
    margin: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.commit a {
    text-decoration: none;
    color: var(--accent);
}

/**
 * Footer
 * ===================================
 */
footer {
    min-height: 10vh;
    padding: 6vh 6vw;

    background-color: var(--accent);
    font-family: 'Rubik', sans-serif;
    color: var(--light-fore);
}

footer .separator {
    display: block;
    margin: 50px 0 30px;

    border-bottom: 1px solid #FFFFFF88;
}

footer .heading {
    font-weight: 500;
    margin: 0 0 15px;
}

footer .links {
    margin: 0 -30px;
}

footer .links > * {
    margin: 0 30px;
}

footer li {
    font-weight: 300;
    list-style: none;
    margin: 8px 0;
}

/**
 * Dialog
 * ===================================
 */
.dialogs {
    display: block;
    position: fixed;

    bottom: 0;
    right: 0;

    margin: 10px;
}

.dialog {
    color: var(--light-fore);

    padding: 20px;
    border-radius: 20px;

    margin: 10px;
    animation-duration: 1s;
}

.dialog button {
    color: var(--light-fore);
    position: absolute;
    top: 18px;
    right: 19px;
}

.dialog.info {
    background-color: #80f14ddd;
}

.dialog.error {
    background-color: #f63939dd;
}

/**
 * Adaption
 * ===================================
 */
@media (max-width: 1100px) {
    .feature {
        flex-basis: 100%;
    }
    .big-emoji, .extra-big-emoji {
        display: none;
    }
    header button {
        display: none;
    }

    .editor .emoji {
        flex-basis: calc(50% - 20px);
    }
    .editor .file-input {
        width: 70%;
    }

    .downloads .container {
        flex-direction: column;
    }
    .downloads .commits, .downloads .releases {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .editor .emoji {
        flex-basis: 100%;
    }
    .editor .file-input {
        width: 80%;
    }
}